# Godot
.godot/
*.translation
export_presets.cfg

# C# / .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe

# OS
.DS_Store
Thumbs.db

# IDE
.vs/
.vscode/
.idea/

# Temporary
*.tmp
*.bak

# 美术素材不需要上传到版本控制系统
/assets/

# 给AI的信箱里的图片就不需要上传到版本控制系统
/inbox/*.png
/inbox/*.jpg
/inbox/*.md

# 测试文件夹不需要上传到版本控制系统
/tests/

# 工具文件夹不需要上传到版本控制系统
/tools/

# Wick MCP Server (保留 Wick 子模块，忽略其他)
wick-mcp-server/*
!wick-mcp-server/Wick

/GameBuild/

# Codex
config.toml



# 鲁班 
/luban-excels/luban-doc-main/
/luban-excels/Tools/
~$*.xlsx


# Photoshop导出工具
/photoshop-tools/*.psd
/photoshop-tools/output/

# 字体
*.otf
*.ttf